<a href="https://github.com/sympletech/AppRoller"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>

<div ng-controller="HeaderController">
	<header>
		<div class="ui grid">
			<div class="left floated five wide column">
				<h2 class="ui header">
					<i class="settings icon"></i>
					<div class="content">
						Sympletech App Roller
						<div class="sub header">This is how I like to roll!</div>
					</div>
				</h2>
			</div>

			<div class="right floated three wide column">
				<div class="right aligned">
					<div ng-hide="userLoggedIn" ng-click="showLoginModal()" class="ui mini basic button">
						<i class="icon user"></i>
						Login
					</div>

					<div ng-show="userLoggedIn">
						{{currentUser.username}}

						<div ng-click="logOut()" class="ui mini basic button">
							Log Out
						</div>
					</div>					
				</div>
			</div>
		</div>
	</header>


	<modal ng-model="loginModalVisible">
		<i class="close icon" ng-click="hideLoginModal()"></i>
		<div class="header">Please Login</div>
		<div class="content">
			<div class="ui form">
				<div class="field">
					<label>Username</label>
					<input ng-model="username" placeholder="Username" type="text">
				</div>
				<div class="field">
					<label>Password</label>
					<input ng-model="password" type="password">
				</div>
			</div>
		</div>
		<div class="actions">
			<div class="ui buttons">
				<div ng-click="attemptLogin()" class="ui positive button">
					Submit
				</div>
			</div>
		</div>
	</modal>
</div>