header, footer{
	padding:10px;
}

header{
	border-bottom:solid 1px #000;
}

footer{
	border-top:solid 1px #000;
	padding-bottom:150px;
}

.main-content-wrapper{
	background:#fff;
	color:#000;
	padding:10px;
	min-height:400px;
}