.ng-modal {
	display: none;
	@include absolute-fill();

	.ng-modal-overlay {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #fff;
		z-index: 9999;
		@include opacity(0.8);
	}

	.ng-modal-title {
		padding: 5px;
		font-size: 1.5em;
		font-weight: bold;
		margin: 0;
		text-align: left;
		&.readjust {
			margin-top: -35px;
			margin-bottom: 35px;
		}
	}

	.ng-modal-dialog {
		/* For IE 8 */
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=170, Color='#d3d3d3')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#d3d3d3');

		z-index: 10000;
		background-color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
		@include box-shadow(0 0 35px #C7C7C7);
		padding: 2em 3em;
	}


	.ng-modal-dialog-content {
		padding: 10px;
		text-align: left;
		margin-top: 15px;
		h3{font-size: 1.5em;}
		button{
			margin-top: 20px;
		}
	}

	.ng-modal-close {
		position: absolute;
		top: -12px;
		right: -15px;
		padding: 5px;
		cursor: pointer;
		@include setBgAndHover(#DA4D1E);
		height: 25px;
		width: 25px;
		text-align: center;
		line-height: 25px;
		border-radius: 100%;
		display: inline-block;
		font-weight: 300;
		color: #fff;
		&:after{
			content: "\6b";
			font-family: 'icomoon';
			vertical-align: -1px;
			font-size: 1em;
		}
	}
	img {
		max-width: 100%;
	}
}