<?xml version="1.0" encoding="utf-8"?>

<!--This File Transforms the Config for the PRD Build-->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>

	<!--************************************************************-->
	<!--        Icon Based Licensing                                -->
	<!--************************************************************-->
	<add name="IconBasedLicensingAppEntities"
	  connectionString="metadata=res://*/Data.IconBasedLicensingAppEntities.csdl|res://*/Data.IconBasedLicensingAppEntities.ssdl|res://*/Data.IconBasedLicensingAppEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RED-DBS-L01-PT2;initial catalog=IconBasedLicensingApp;persist security info=True;user id=IconAppData;password=y6te2eh5t!tE;MultipleActiveResultSets=True;App=EntityFramework&quot;"
	  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

	<!--************************************************************-->
	<!--        CMS Pulgin                                          -->
	<!--************************************************************-->
	<add name="CMSPlugin"
	  connectionString="Data Source=ec2-23-21-106-130.compute-1.amazonaws.com;Initial Catalog=CMSPlugin;User ID=cmsplugin;Password=cmsplugin"
	  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>


	<!--************************************************************-->
	<!--        UCQA                                                -->
	<!--************************************************************-->
	<add name="WebOpsApi.Applications.UCQA"
	  connectionString="Data Source=RED-DBS-SQL-PT3;Initial Catalog=MobileAppsAgendaData_1;User ID=MobileAppsAgendaData;Password=yAp*ph9tH!br"
	  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

	<!--************************************************************-->
	<!--        Campaign Dashboard                                  -->
	<!--************************************************************-->
	<add name="CampaignDashboardEntities"
		 connectionString="metadata=res://*/Data.CampaignDashboard.csdl|res://*/Data.CampaignDashboard.ssdl|res://*/Data.CampaignDashboard.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RED-DBS-L01-PT2;initial catalog=CampaignDashboard;persist security info=True;user id=campaigndashboarduser;password=n%Tq6whS$x!Yqu!;MultipleActiveResultSets=True;App=EntityFramework&quot;"
		 xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

	<!--************************************************************-->
	<!--        Form Generator                                -->
	<!--************************************************************-->
	<add name="FormGenerator" connectionString="user id=Esri_FormData;password=buD*27ETR&amp;tR;Data Source=RED-DBS-L03-PT2;Database=FormGenerator" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

	<!--************************************************************-->
	<!--        Video Rater                                         -->
	<!--************************************************************-->
	<add name="VideoRater"
		 connectionString="mongodb://ec2-23-23-199-244.compute-1.amazonaws.com:27017/VideoRater"
		 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>    

  </connectionStrings>

  <appSettings>
	<add key="ApprimoEmail" value="Aprimo_main@esri.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
	<add key="OKTASessionStateServer" value="http://webopsoktaportal.esri.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	<add key="AprimoEmailTest" value="jesquibel@esri.com" xdt:Locator="Match(key)"/>
	<add key="AprimoEmailLive" value="aprimo_main@esri.com" xdt:Locator="Match(key)"/>

	<!--************************************************************-->
	<!--        UC Voting                                           -->
	<!--************************************************************-->
	<add key="ucVote_AppId" value="cFpGqSHTBqnqQa8lrBcxKMPDfaGs1eLkN4uyTZcX" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	<add key="ucVote_RestApiKey" value="iIDkQgyXkVyFS1JisEKd1RKDJWZq4N292yg14I3p" xdt:Transform="Replace" xdt:Locator="Match(key)" />

	<!--************************************************************-->
	<!--        Session Feedback                                    -->
	<!--************************************************************-->
	<add key="sessionFeedback_AppId" value="cFpGqSHTBqnqQa8lrBcxKMPDfaGs1eLkN4uyTZcX" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	<add key="sessionFeedback_RestApiKey" value="iIDkQgyXkVyFS1JisEKd1RKDJWZq4N292yg14I3p" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>

</configuration>