<?xml version="1.0" encoding="utf-8"?>

<!--This File Transforms the Config for the DEV Build-->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>

    <!--************************************************************-->
    <!--        Icon Based Licensing                                -->
    <!--************************************************************-->
    <add name="IconBasedLicensingAppEntities"
      connectionString="metadata=res://*/Data.IconBasedLicensingAppEntities.csdl|res://*/Data.IconBasedLicensingAppEntities.ssdl|res://*/Data.IconBasedLicensingAppEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RED-DBS-L01-DT2;initial catalog=IconBasedLicensingApp;persist security info=True;user id=IconAppData;password=p8$eneDaTux@;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    
    <!--************************************************************-->
    <!--        Form Generator                                      -->
    <!--************************************************************-->
    <add name="FormGenerator" 
         connectionString="user id=Esri_FormData;password=buD*27ETR&amp;tR;Data Source=RED-DBS-L03-PT2;Database=FormGenerator" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <!--************************************************************-->
    <!--        Video Rater                                         -->
    <!--************************************************************-->
    <add name="VideoRater" 
         connectionString="mongodb://ec2-23-23-199-244.compute-1.amazonaws.com:27017/VideoRater"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>

  <appSettings>  
    <add key="OKTASessionStateServer" value="http://webopsoktaportaldev.esri.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AprimoEmailLive" value="aprimo_main@esri.com" xdt:Locator="Match(key)"/> 
  </appSettings>
  
</configuration>