<?xml version="1.0" encoding="utf-8"?>

<!--This File Transforms the Config for the QA Build-->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>

    <!--************************************************************-->
    <!--        Icon Based Licensing                                -->
    <!--************************************************************-->
    <add name="IconBasedLicensingAppEntities"
      connectionString="metadata=res://*/Data.IconBasedLicensingAppEntities.csdl|res://*/Data.IconBasedLicensingAppEntities.ssdl|res://*/Data.IconBasedLicensingAppEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RED-DBS-L01-DT2;initial catalog=IconBasedLicensingApp;persist security info=True;user id=IconAppData;password=p8$eneDaTux@;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <!--************************************************************-->
    <!--        CMS Pulgin                                          -->
    <!--************************************************************-->
    <add name="CMSPlugin"
      connectionString="Data Source=ec2-23-21-106-130.compute-1.amazonaws.com;Initial Catalog=CMSPlugin;User ID=cmsplugin;Password=cmsplugin"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>


    <!--************************************************************-->
    <!--        UCQA                                                -->
    <!--************************************************************-->
    <add name="WebOpsApi.Applications.UCQA"
      connectionString="Data Source=RED-DBS-SQL-PT3;Initial Catalog=MobileAppsAgendaData_1;User ID=MobileAppsAgendaData;Password=yAp*ph9tH!br"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <!--************************************************************-->
    <!--        Campaign Dashboard                                  -->
    <!--************************************************************-->
    <add name="CampaignDashboardEntities"
         connectionString="metadata=res://*/Data.CampaignDashboard.csdl|res://*/Data.CampaignDashboard.ssdl|res://*/Data.CampaignDashboard.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RED-DBS-SQL-QT2;initial catalog=CampaignDashboard;persist security info=True;user id=campaigndashboarduser;password=n%Tq6whS$x!Yqu!;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

    <!--************************************************************-->
    <!--        Video Rater                                         -->
    <!--************************************************************-->
    <add name="VideoRater"
         connectionString="mongodb://ec2-23-23-199-244.compute-1.amazonaws.com:27017/VideoRater"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>

  <appSettings>
    <add key="ApprimoEmail" value="Aprimo_main@esri.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AprimoEmailTest" value="jesquibel@esri.com" xdt:Locator="Match(key)"/>
    <add key="AprimoEmailLive" value="aprimo_main@esri.com" xdt:Locator="Match(key)"/>
  </appSettings>


</configuration>