<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--************************************************************-->
    <!--        Icon Based Licensing                                -->
    <!--************************************************************-->
    <add name="IconBasedLicensingAppEntities" connectionString="metadata=res://*/Data.IconBasedLicensingAppEntities.csdl|res://*/Data.IconBasedLicensingAppEntities.ssdl|res://*/Data.IconBasedLicensingAppEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=IconBasedLicensingApp;persist security info=True;user id=IconAppData;password=p8$eneDaTux@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    

    <!--************************************************************-->
    <!--        CMS Pulgin                                          -->
    <!--************************************************************-->
    <add name="CMSPlugin" connectionString="Data Source=ec2-23-21-106-130.compute-1.amazonaws.com;Initial Catalog=CMSPlugin;User ID=cmsplugin;Password=cmsplugin" />

    <!--************************************************************-->
    <!--        UCQA                                                -->
    <!--************************************************************-->    
    <add name="WebOpsApi.Applications.UCQA" connectionString="Data Source=RED-DBS-SQL-PT3;Initial Catalog=MobileAppsAgendaData_2;User ID=MobileAppsAgendaData;Password=yAp*ph9tH!br" />

    <!--************************************************************-->
    <!--        Campaign Dashboard                                  -->
    <!--************************************************************-->
    <add name="CampaignDashboardEntities" connectionString="metadata=res://*/Data.CampaignDashboard.csdl|res://*/Data.CampaignDashboard.ssdl|res://*/Data.CampaignDashboard.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=red-dbs-sql-d03;initial catalog=CampaignDashboard;persist security info=True;user id=campaigndashboarduser;password=n%Tq6whS$x!Yqu!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--************************************************************-->
    <!--        Form Generator                                      -->
    <!--************************************************************-->
    <add name="FormGenerator" connectionString="user id=Esri_FormData;password=buD*27ETR&amp;tR;Data Source=RED-DBS-L03-PT2;Database=FormGenerator" />

    <!--************************************************************-->
    <!--        Video Rater                                         -->
    <!--************************************************************-->
    <add name="VideoRater" connectionString="mongodb://localhost/VideoRater" />

    <!--************************************************************-->
    <!--        Session Feedback                                    -->
    <!--************************************************************-->
    <add name="SessionFeedback" connectionString="mongodb://localhost/SessionFeedback" />

  </connectionStrings>

  <appSettings>
    <!--************************************************************-->
    <!--        OKTA Session State Server                           -->
    <!--************************************************************-->
    <add key="OKTASessionStateServer" value="http://localhost:56675/" />
    
    <!--************************************************************-->
    <!--        Email Settings                                      -->
    <!--************************************************************-->
    <add key="SMTPClient" value="SMTP.esri.com" />
    <add key="SMTPPort" value="25" />
    <add key="ApprimoEmail" value="dlewis@esri.com" />
    <add key="AprimoEmailTest" value="jesquibel@esri.com" />
    <add key="AprimoEmailLive" value="aprimo_main@esri.com" />
    <add key="FormGeneratorErrorGroup" value="jesquibel@esri.com" />

    <!--************************************************************-->
    <!--        Step By Step Maps                                   -->
    <!--************************************************************-->
    <add key="sxs_AppId" value="6iY2dIgKW0afeJENrzJXOjnZ41P5elT0QljIO5zD" />
    <add key="sxs_RestApiKey" value="7ZVF1bLlKkksoNd2pd9oMv4kEgllO9Tb4eAq1Ugl" />

    <!--************************************************************-->
    <!--        UC Voting                                           -->
    <!--************************************************************-->
    <add key="ucVote_AppId" value="cFpGqSHTBqnqQa8lrBcxKMPDfaGs1eLkN4uyTZcX" />
    <add key="ucVote_RestApiKey" value="iIDkQgyXkVyFS1JisEKd1RKDJWZq4N292yg14I3p" />

    <!--************************************************************-->
    <!--        Session Feedback                                    -->
    <!--************************************************************-->
    <add key="sessionFeedback_AppId" value="cFpGqSHTBqnqQa8lrBcxKMPDfaGs1eLkN4uyTZcX" />
    <add key="sessionFeedback_RestApiKey" value="iIDkQgyXkVyFS1JisEKd1RKDJWZq4N292yg14I3p" />

  </appSettings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
    
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers></system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    
    
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
  <httpErrors existingResponse="PassThrough" /><handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers></system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="network">
        <network host="smtp.esri.com" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <elmah>
    <security allowRemoteAccess="0" />
    <errorMail from="error-monkey@esri.com" to="daniel_lewis@esri.com, CInada@esri.com" subject="WebopsApi Error : {1} | {0}" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="GET,POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="GET,POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>